@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: rgba(222, 230, 252, 0.784);
}

img {
  width: 5%;
  height: auto;
  margin-right: 1.25rem;
}
.navbar {
  align-items: center;
  text-align: center;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

h1 {
  font-size: 64px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
  padding: 20px;
}

.drpbtn-content {
  display: none;
  position: absolute;
  max-width: 10rem;
}

.drpbtn-content a {
  text-decoration: none;
  display: block;
}

.dropdown:hover .drpbtn-content {
  display: block;
}

.calendar {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4% 18% 18% 18% 18% 18%;
  margin: auto;
  grid-gap: 5px;
  height: 100%;
}

.day,
.weekday {
  border: 3px blue groove;
  border-radius: 10px;
}

.weekday {
  text-align: center;
}

.day {
  height: 100%;
  padding-top: 0.45rem;
  padding-left: 0.345rem;
}
span {
  background-color: rgba(198, 126, 249, 0.53);
  border: 1px solid rgba(198, 126, 249, 0.53);
  border-radius: 50%;
  padding: 0.25rem;
  width: 50px;
  height: 50px;
}
section {
  position: absolute;
  width: 100%;
  height: 77.5%;
}
footer {
  display: flex;
  font-size: 2rem;
  justify-content: flex-end;
}

.footer {
  margin-right: 12.5%;
}

.footer > a {
  text-decoration: none;
}

.add-event {
  text-align: center;
  font-size: 24px;
  background: #ffffff;
  padding-bottom: 25px;
}

.event {
  width: 100%;
}
.event > a {
  margin: 10px 0;
  display: block;
  text-decoration: none;
  background: #4caf50;
  color: white;
}

.modal {
  width: 125rem;
  padding: 8% 0 0;
  margin: auto;
  background: #ffffff;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  width: 35%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-form {
  background: #ffffff;
}
.form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button,
.drpbtn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.hover:hover,
.hover:active,
.hover:focus {
  background: #43a047;
}

.hidden {
  display: none;
}

.login-form > div {
  background: #ffffff;
}

.modal-btn {
  margin: 10px 0;
}

.red {
  background-color: rgb(200, 90, 90);
}
